
body{
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color:blanchedalmond;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}

h2{
    color: black;
}
h3{
  color: darkslategrey;
}
h4{
  color: darkslategrey;
}
p{
    color:darkslategray
}

li{
  display: inline;
}

.icon{
  float:right;
  vertical-align:text-bottom;
  border-radius: 50%;
}

.me{
  border-radius: 10%;
  transform: scale(0.72, 0.72);
}

